body{
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* =====================  NAVBAR =====================*/
.navbar-brand{
    padding: 6px 10px;
    margin-left: 0;
}
.navbar {
    background-color: #fff !important;
    height: 62px;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-nav{
    margin-top: 6px;
    padding-left: 80px;
}
.navbar-nav li a{
    color: #414042 !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 14px;
}
.navbar-default .navbar-nav>.active>a{
    background: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #414042 !important;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background: #fff;
    color: #f47920 !important;
}
.navbar-form{
    margin-top: -42px;
}
.freeTrial {
    background: #f47920;
    padding: 23px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: .5px;
}
.freeTrial:hover{
    cursor: pointer;
}
.freeTrial a{
    text-decoration: none;
    color: #fff;
}
/* ===================== MAIN HEADING =====================*/

.video-container video{
    width: 100%;
    height: auto;
    position: relative;
    z-index: -100;
}
.overlay {
    width: 40%;
    background: rgba(255,255,255,0.6);
    display: block;
    position: absolute;
    top: 18rem;
    left: 10rem;
    padding: 10px 20px;
}
.main-heading h1{
    font-size: 3rem;
    color: #404040;
    line-height: 1.1;
}
.main-heading p{
    font-size: 2rem;
    margin-bottom: 30px;
}
.main-heading .btn-primary{
    background-color: #f47920;
    border-color: #ef5731;
}
.main-heading .btn-lg{
    padding: 14px 16px;
    margin-bottom: 10px;
}

/* ===================== DROPDOWN MAIN NAVIGATION =====================*/
.main-nav-menu{
    background: #414042;
    margin-top: -20px;
    text-align: center;
    width: 100%;
}
.dropdown {
    background: #414042;
    font-size: 18px;
    display: inline-block;
    list-style-type: none;
}
.dropdown a{
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
}
.dropdown a:hover{
    color: #f47920;
}
.dropdown-menu{
    background: #414042;
    margin-top: 6px;
    border: none;
}
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a:hover {
    background: transparent;
    color: #f47920;
}

/* ===================== SECTION ONE =====================*/
/* ================== Power to the people ================*/

section h2 {
    font-size: 38px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.section_one{
    padding-bottom: 80px;
}
.blockquote{
    max-width: 66%;
    margin: 0 auto;
}
.footerQuote{
    margin-top: 30px;
    margin-bottom: 60px;
}
.footerQuote i{
    font-size: 16px;
    color: #555;
    letter-spacing: .5px;
}
.custom-btn a {
    background-color: #f47920;
    border-color: #ef5731;
    padding: 16px 30px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.custom-btn a:hover {
    background-color: #ef5731;
    border-color: #ef5731;
}

/* ===================== SECTION TWO =====================*/
/* ========== The 4th wave of process automation ==========*/

.section_two{
    background: #02151d;
    color: #fff;
}
.section_two img {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 85px;
}
.section_two .section-bg-image{
    background-image: url('https://www.nintex.com/-/media/images/nintex/sections/workflow-automation-makes-collaborating-easy/a-new-era-of-intelligent-process-automation/the-ipa-era-is-here/the-ipa-era-is-here-resized.ashx');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 275px;
    margin-top: 80px;
    position: relative;
}
.section_two p{
    max-width: 75%;
    margin: 0 auto;
    font-size: 22px;

}
.section-bg-image div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.section_two .eraText{
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

/* ===================== SECTION THREE =====================*/
/* ========= Humans and machines working in harmony =========*/

.section_three .lead{
    max-width: 75%;
    margin: 0 auto;
    font-size: 22px;
}
.title{
    background: #cfd8db;
    padding: 6px;
}
.title:hover{
    background: #ef5731;
}
.thumbnail{
    padding: 0;
    min-height: 375px;
}
.thumbnail h3{
    margin-top: 12px;
}
.thumbnail h3>a{
    font-weight: bold;
    font-size: 16px;
    color: #444;
    text-decoration: none;
}
.thumbnail h3>a:hover{
    color: #fff;
}
.thumbnail a>img, 
.thumbnail>img {
    margin-top: 24px;
    margin-bottom: 24px;
}
.body-text p{
    padding: 10px 30px;
    font-size: 20px;
    text-align: left;
}
.section_three .btn-spacing{
    margin-top: 20px;
    margin-bottom: 60px;
}
.section_two .fa-edit,
.section_three .fa-edit {
    font-size: 18px;
}

/* ===================== SECTION FOUR =====================*/
/* =============== Nintex wins new investor ===============*/

.section_four{
    background-image: url('https://www.nintex.com/-/media/images/nintex/sections/home/451-report/waves_2.ashx');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #2a576a;
}
.section_four{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section_four h2{
    margin-bottom: 30px;
    margin-top: 30px;
}
.section_four h2,
.section_four p{
    color: #fff;
}

/* ===================== SECTION FIVE =====================*/
/* ===== Intuitive. Integrated. Intelligent. Expect nothing less. =====*/

.section_five{
    background: #02151d;
    padding-bottom: 60px;
    color: #fff;
}

.section_five img{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section_five .body-text p{
    text-align: center;
}
.section_five .lead{
    max-width: 75%;
    margin: 0 auto;
    font-size: 22px;
}
.section_five h3{
    color: #97d4ef;
    font-size: 28px;
}

/* ===================== SECTION SIX =====================*/
/* ================= Want to learn more? =================*/

.section_six .body-text p{
    text-align: left;
    padding: 0;
}
.section_six .caption h3>a {
    font-size: 28px;
    color: #ff7900;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section_six{
    padding-bottom: 60px;
}

/* ===================== FOOTER =====================*/
.footer{
    background: #444;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #888;
}
footer a{
    color: #fff;
}
footer a:hover{
    color: #ef5731;
    text-decoration: none;
}
footer .container{
    padding-bottom: 30px;
}

/* ===================== MEDIA QUERIES =====================*/

@media (max-width: 1200px) {
    
    .navbar-form {
        margin-top: -36px;
    }
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
      
    .main-nav-menu {
        display: none;
    }
    .freeTrial,
    .navbar-form{
        display: none;
    }
    .overlay {
        width: 55%;
        top: 12rem;
        z-index: -10;
    }
    .navbar-nav {
       padding-left: 0;
       position: relative;
    }
}
@media (min-width: 960px){
    .main-nav-menu {
        margin-top: 0
    }
}
@media (max-width: 768px){
    /*.overlay {*/
    /*    width: 80%;*/
    /*    top: 7rem;*/
    /*    left: 40px;*/
    /*}*/
    .overlay{
        position: relative;
        width: 100%;
        background-color: rgba(244, 121, 32, 1);
        top: auto;
        left: auto;
        color: #fff;
        z-index: -100;
        margin-top: -6px;
    }
    .main-heading .btn-primary {
        border: 1px solid #fff;
        text-decoration: none;
    }
}
@media (max-width: 375px){
    .overlay{
        position: relative;
        width: 100%;
        background-color: rgba(244, 121, 32, 1);
        top: auto;
        left: auto;
        color: #fff;
        z-index: -100;
    }
    
    .navbar-nav {
        padding-left: 0;
    }
    .main-heading .btn-primary {
        border: 1px solid #fff;
        text-decoration: none;
    }
    .main-heading .btn-primary:hover {
        color: #555;
    }

    video{
        display: none;
    }
}




