body{
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    overflow-x: hidden;
}
/* =====================  NAVBAR =====================*/
.navbar-brand{
    padding: 6px;
}
.navbar {
    background-color: #fff !important;
    height: 62px;
    border-radius: 0;
}
.navbar-nav{
    /*margin-left: 50px;*/
    margin-top: 6px;
    padding-left: 80px;
}
.navbar-nav li a{
    color: #414042 !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 14px;
}
.navbar-default .navbar-nav>.active>a{
    background: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #414042 !important;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background: #fff;
    color: #f47920 !important;
}
.navbar-form{
    /*position: relative;*/
    margin-top: -42px;
}
.freeTrial {
    background: #f47920;
    padding: 23px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: .5px;
}
.freeTrial:hover{
    cursor: pointer;
}
.freeTrial a{
    text-decoration: none;
    color: #fff;
}
/* ===================== MAIN HEADING =====================*/

.main-heading {
    width: 40%;
    background: rgba(255,255,255,0.6);
    display: block;
    position: absolute;
    top: 18rem;
    left: 10rem;
    padding: 10px 20px;
}
.main-heading h1{
    font-size: 3rem;
    color: #404040;
    line-height: 1.1;
    margin-bottom: 30px;
}
.main-heading p{
    font-size: 2rem;
    margin-bottom: 30px;
}

.main-heading .btn-primary {
    background-color: #f47920;
    border-color: #ef5731;
}
.main-heading a:hover {
    background-color: red !important;
    /*border-color: #ef5731;*/
}
.main-heading .btn-lg{
    padding: 14px 16px;
    margin-bottom: 10px;
}

/*.video-container video{*/
/* 	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*}*/

/* ===================== DROPDOWN MAIN NAVIGATION =====================*/

.main-nav-menu{
    background: #414042;
    margin-top: -20px;
    text-align: center;
    width: 100%;
}
.dropdown {
    background: #414042;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    display: inline-block;
    list-style-type: none;
}
.dropdown a{
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
}
.dropdown a:hover{
    color: #f47920;
}
.dropdown-menu{
    background: #414042;
    margin-top: -8px;
    border: none;
}
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a:hover {
    background: transparent;
    color: #f47920;
}
