body{
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #999;
}

.navbar-brand{
    padding: 6px;
}

.navbar {
    background-color: #fff !important;
    height: 62px;
    border-radius: 0;
}

.navbar-nav{
    /*margin-left: 50px;*/
    margin-top: 6px;
    padding-left: 80px;
}

.navbar-nav li a{
    color: #414042 !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 14px;
}

.navbar-default .navbar-nav>.active>a{
    background: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #414042 !important;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background: #fff;
    color: #f47920 !important;
}

.navbar-form{
    /*position: relative;*/
    margin-top: -42px;
}

.freeTrial {
    background: #f47920;
    padding: 23px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: .5px;
}

.freeTrial:hover{
    cursor: pointer;
}

.freeTrial a{
    text-decoration: none;
    color: #fff;
}



h1{
    font-size: 60px;
    color: red;
}




/* ===================== DROPDOWN MAIN NAVIGATION =====================*/

.main-nav-menu{
    background: #414042;
    margin-top: -20px;
    text-align: center;
}

.dropdown {
    background: #414042;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    display: inline-block;
    list-style-type: none;
}

.dropdown a{
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
}

.dropdown a:hover{
    color: #f47920;
}

